/* * * * * * * * * *
* ALAPBEÁLLÍTÁSOK
* * * * * * * * * */
* {
	margin: 0px;
	padding: 0px;
}

a {	text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-family: 'Rubik', serif; }

/* ŰRLAP BEÁLLÍTÁSOK */
form {
	width: 60%; 
	margin: 5px auto; 
	padding-bottom: 50px; 
}

form input[type=file], input[type=email], input[type=password], input[type=text], 
form select, form textarea {
	width: 100%;
	display: block;
	padding: 13px 13px;
	font-size: 1em;
	margin: 5px auto 10px;
	border-radius: 3px;
	box-sizing : border-box;
	background: transparent;
	border: 1px solid #3E606F;
}

input[type=checkbox] {
	height: 20px; 
	float: left; 
}

form button {
	float: right; 
	margin-left: 24%;
}

form input:focus { outline: none; }

form#uj_bejegyzes { width:unset; }

form + h1 { 
	text-align: center;
	margin-top: 20px;
}

label {
	margin-top: 20px;
	float: left;
}

label.kep {
	float: left;
	margin: 5px auto;
}

/* TÁBLÁZAT BEÁLLÍTÁSOK */
table {
	border-collapse: collapse;
	width: 70%;
	margin: 20px auto;
}

th, td {
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
}

th { text-align: center; }

/* GOMB BEÁLLÍTÁSOK */
.gomb {
	color: white;
	background: #4E6166;
	text-align: center;
	border: none;
	border-radius: 5px;
	display: block;
	letter-spacing: .1em;
	padding: 13px 20px;
	text-decoration: none;
}

/* * * * *
* FEJRÉSZ
* * * * */
header {
	padding: 15px 45px;
	font-family: 'Rubik', serif;
	color: white;
	background: black;
}

header logo {
	width: 50%;
	float: left;
}

header logo h1, header a { color: white; }

header .felhasznalo-info {
	width: 11%;
	margin-top: 10px;
	float: right;
}

header .kijelentkezes-gomb {
	color: red;
	text-decoration: none;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

/* * * * * * * * * *
* VEZÉRLŐPULT
* * * * * * * * * */
main {
	width: 98%;
	margin: 5px auto 50px;
	border: 1px solid #BFBCB3;
	padding: 10px 0px 50px;
}

main:after {
	content: "";
	display: block;
	clear: both;
}

main#vezerlopult h1 {
	text-align: center;
	margin: 25px;
}

main#vezerlopult .statusz {
	display: flex;
	justify-content: space-around;
}

main#vezerlopult .statusz a {
	display: inline-block;
	padding: 30px;
	margin: 5px;
	width: 17%;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #BFBCB3;
}

main#vezerlopult .statusz a:hover {
	cursor: pointer;
	background-color: #E1E1E1;
}

main#vezerlopult .gombok { margin-left: 15px; }

main#vezerlopult .gombok a {
	display: inline-block;
	margin: 10px;
	text-decoration: none;
	color: #444;
	padding: 10px 25px;
	border: none;
	background-color: #0E7D92;
	color: white;
}

/* * * * * * * * * *
* OLDAL TARTALOM
* * * * * * * * * */
main#tartalom menu {
	width: 17%;
	float: left;
	padding: 40px 10px;
}

#oldalsav #oldalsav-fejresz {
	padding: 10px;
	text-align: center;
	border-radius: 3px 3px 0px 0px;
	background: #3E606F;
}

#oldalsav-fejresz h2 { color: white; }

#oldalsav-tartalom a {
	display: block;
	box-sizing: border-box;
	padding: 8px 10px;
	border-bottom: 1px solid #e4e1e1;
	color: #444;
}

#oldalsav-tartalom a:hover {
	padding-left: 20px;
	background: #F9F9F9;
	transition: 0.1s;
}

#profilkep {
 position: absolute;
 top: 330px;
 left: 2%;
}

/* Tevékenység területei (középen) */
main#tartalom #tevekenyseg {
	width: 35%;
	float: left;
	text-align: center;
}

#tevekenyseg form { width: 90%; }

#tevekenyseg h1, #tabla-tarolo h1 {
	margin: 25px;
	font-size: 1.5em;
	text-align: center;
}

main#tartalom #tevekenyseg.bejegyzes-letrehozasi-terulet { width: 80%; }

label + img { margin: 0px 0px 10px 10px }

/* Táblázat az adatbázis rekordjainak tárolására */
#tabla-tarolo { float: left; }

#tabla-tarolo .uzenet {
	width: 90%;
	margin-top: 20px;
}

#tabla-tarolo table { width: 100%; }

#tabla-tarolo .szerkeszto { background: #004220; }

#tabla-tarolo .torlo { background: #F70E1A; }

#tabla-tarolo .szerkeszto, #tabla-tarolo .torlo {
	font-size: 20pt;
	padding: 0px 10px;
	letter-spacing: 0;
}

#tabla-tarolo .publikus { background: red; }

#tabla-tarolo .publikalatlan { background: green; }

#tabla-tarolo .publikus, #tabla-tarolo .publikalatlan {
	font-size: 14pt;
	padding: 5px;
	letter-spacing: 0;
}

.tabla-keskeny {
	width: 45%;
}

.tabla-szeles {
	width: 80%;
}

/* * * * * * * * * * * *
* FIGYELMEZTETŐ ÜZENETEK
* * * * * * * * * * * */
.uzenet {
	width: 100%; 
	margin: 0px auto; 
	padding: 10px 0px; 
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	border-radius: 5px; 
	text-align: center;
}

.hiba {
	color: #a94442;
	background: #f2dede;
	border: 1px solid #a94442;
	margin-bottom: 20px;
}

.ervenyesitesi_hibak p {
	text-align: center;
	margin-left: 10px;
}